@import "vars";
@import "libs";
@import "fonts";

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
}

button {
   cursor: pointer;
   border: transparent;
   outline: transparent;
}

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto Slab', serif;
   font-size: 15px;
   font-weight: 400;
   overflow-x: hidden;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 10px;
}

/* ----------------------------------------Header */

.header-top {
   background-color: $yellow-bg;

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 40px;
   }

   &__contacts {
      display: flex;
      align-items: center;
   }

   &__phone,
   &__mail,
   &__date {
      color: #000;
      margin-right: 25px;
      display: flex;
      align-items: center;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      transition: all .4s;

      &:hover {
         border-color: $icon;
      }
   }

   &__date {
      margin: 0;
      border: none;
   }

   &__icon {
      margin-right: 10px;
      font-size: 20px;
   }

}

.social {
   display: flex;
   align-items: center;

   &__line {
      &+li {
         margin-left: 20px;
      }
   }

   &__icon {
      font-size: 20px;
      color: $icon;
      transition: all .5s;

      &:hover {
         &.icon-facebook-f {
            color: #395799;
         }

         &.icon-twitter {
            color: #19b2f5;
         }

         &.icon-dribbble {
            color: #ea4c89;
         }

         &.icon-linkedin {
            color: #0da6be;
         }

         &.icon-youtube-play {
            color: #9c0c1c;
         }
      }
   }


}

.header-menu {
   background-color: $bg-dark;
   transition: all 1s;
   position: relative;

   &.fixed {
      position: fixed;
      width: 100%;
      top: 0;
      background-color: rgba(34, 37, 51, .9);
      z-index: 1000;

      .header-menu__inner {
         min-height: 60px;
      }
   }

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 95px;
   }

   &__nav {
      margin-left: auto;
   }

   &__list {
      display: flex;
      align-items: center;
   }

   &__line {
      margin-right: 25px;
      height: 22px;
      border-bottom: 2px solid transparent;
      transition: all .5s;

      &:hover {
         border-color: $yellow-bg;
      }
   }

   &__link {
      color: #fff;
      font-weight: 700;
   }

   &__search {
      position: relative;
      height: 32px;

      &:hover {
         .header-menu__input {
            right: 0;
            opacity: 1;
            width: 205px;
         }
      }
   }

   &__btn {
      background-color: transparent;
      position: absolute;
      top: 4px;
      right: -20px;
      z-index: 3;

      .icon-search {
         color: $yellow-bg;
         font-size: 20px;

      }
   }

   &__input {
      border: 1px solid rgb(252, 235, 3);
      height: 31px;
      border-radius: 50px;
      opacity: 0;
      position: absolute;
      right: -30px;
      width: 0;
      transition: all .5s;
      padding: 0 15px;
      outline: transparent;

      &:focus {
         right: 0;
         opacity: 1;
         width: 205px;
      }
   }
}


.menu-burger {
   position: absolute;
   top: -1000%;
   left: 0;
   width: 100%;
   background-color: rgba(255, 255, 255, 0);
   text-align: center;
   height: 0;
   transition: all .7s;
   display: none;
   opacity: 0;

   &.active {
      background-color: #fff;
      top: 0;
      opacity: 1;
      z-index: 101;

      .menu-burger__list {
         top: 0;
         z-index: 100;
      }
   }

   span {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 4px;
		margin-bottom: 20px;
		margin-left: 8px;
   }

   &__btn {
      width: 40px;
      height: 4px;
      background-color: #fff;
      position: relative;
      z-index: 101;
      transition: all .8s;
      display: none;

      &:before,
      &:after {
         content: '';
         width: 40px;
         height: 4px;
         background-color: #fff;
         position: absolute;
         top: 12px;
         z-index: 101;
         transition: all .8s;
      }

      &:after {
         top: -12px;
      }

      &.active {
         background-color: transparent;

         &:before,
         &:after {
            background-color: $icon;
            top: 0;
            transform: rotate(45deg);
         }

         &:after {
            transform: rotate(-45deg);
         }
      }
   }

   &__list {
      border-bottom: 20px solid $bg-dark;
      background-color: rgba(245, 237, 196, 1);
      padding: 20px 0 70px 0;
      width: 100%;
      position: absolute;
      top: -1000%;
      left: 0;
      z-index: -1;
		border-radius: 0 0 50px 50px;
		min-height: 100vh;
   }

   &__line {
      height: 50px;

      &+li {
         margin: 15px 0 0 0;
      }

      &:first-child {
         height: 70px;
      }
   }

   &__link {
      font-size: 20px;
      color: $text-dark;
      text-transform: uppercase;
      font-weight: 700;
   }
}

/* ----------------------------------------Main-Screen */

.main-screen {
   background-image: url(../images/main-bg.jpg);
   @include image;
   padding: 110px 0 170px 0;
   text-align: center;
   color: #fff;

   &__subtitle {
      font-size: 35px;
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
   }

   &__title {
      font-size: 60px;
      font-weight: 700;
      margin: 25px 0;

      span {
         display: block;
         color: $yellow-bg;
      }
   }

   &__text {
      font-size: 23px;
      line-height: 1.3;
      max-width: 995px;
      margin: 0 auto 55px auto;
   }

}

.button {
   display: inline-block;
   padding: 15px;
   max-width: 160px;
   width: 100%;
   background-color: $yellow-bg;
   color: #fff;
   text-align: center;
   font-size: 16px;
   font-weight: 700;
   border-radius: 10px;
   text-transform: uppercase;
   transition: all .5s;
   border: 1px solid transparent;

   &:hover {
      color: #000;
      border: 1px solid #000;
   }

   &+a,
   &+button {
      margin-left: 70px;
   }
}

/* ---------------------------------------- Company*/

.company {

   &__content {
      background-image: url(../images/comp-bg.jpg);
      background-repeat: no-repeat;
      background-position: center right;
      position: relative;
      padding: 95px 0 35px 0;
   }

   &__pic {
      position: absolute;
      bottom: 0;
      right: 123px;
      @include image;
      height: 470px;
      width: 250px;
   }
}


.company-descr {
   max-width: 650px;

   &__title {
      font-size: 35px;
      font-weight: 700;
      color: $yellow-bg;
      margin-bottom: 15px;
   }

   &__subtitle {
      color: $text;
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 35px;
   }

   &__text {
      color: $text;
      margin-bottom: 35px;

      p+p {
         margin-top: 15px;
      }
   }

   &__btn {
      &:hover {
         border-color: transparent;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
   }
}


/* ---------------------------------------- Qualities*/

.qualities {
   background-color: $blue-bg;
   padding: 75px 0 50px 0;
   text-align: center;

   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }
}

.title {
   font-size: 28px;
   font-weight: 700;
   color: $text;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.text {
   color: $text;
   line-height: 1.3;
   margin-bottom: 30px;
}

.qualities-item {
   max-width: 195px;
   text-align: center;

   &__wrapper {
      width: 180px;
      height: 180px;
      border: 11px solid #f7e59c;
      border-radius: 50%;
      margin: 0 auto 15px auto;
   }

   &__icon {
      width: 160px;
      height: 160px;
      border: 11px solid #fadb64;
      border-radius: 50%;
   }

   &__ico {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 140px;
      border: 11px solid $yellow-bg;
      border-radius: 50%;
      font-size: 50px;
      color: $text;
   }

   &__title {
      color: $text;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 15px;
   }

   &__text {
      margin-bottom: 0;
   }
}


/* ---------------------------------------- Services*/

.services {
   padding: 80px 0 100px 0;
   text-align: center;

   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }

   &__title {
      margin-bottom: 55px;
   }
}

.services-item {
   max-width: 365px;
   text-align: left;

   &__image {
      @include image;
      height: 260px;
      width: 100%;
      margin-bottom: 25px;
   }

   &__title {
      font-size: 20px;
      margin-bottom: 15px;
   }

   &__text {
      line-height: 1.6;
   }

   &__btn {
      &:hover {
         border-color: transparent;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
   }
}


/* ---------------------------------------- Projects*/

.projects {
   padding: 70px 0;
   background-image: url(../images/works-bg.jpg);
   @include image;
   text-align: center;

   &__title,
   &__text {
      color: #fff;
   }

   &__menu {
      margin-bottom: 40px;
   }

   .projects__menu-btn {
      background-color: transparent;
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      font-family: 'Raleway', sans-serif;
      padding: 15px 5px;
      max-width: 200px;
      width: 100%;
      border-radius: 50px;
      transition: all .3s;

      &.active,
      &:hover {
         background-color: #282828;
      }

      &+a,
      &+button {
         margin-left: 20px;
      }
   }

}

.projects-gallery {
   min-height: 660px;

   &__item {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      display: none;

      &:first-child {
         display: flex;
      }

      &.active {
         display: flex;
      }
   }


   &__img {
      @include image;
      width: 280px;
      height: 300px;
      margin-bottom: 20px;
      transition: all .3s;
      position: relative;

      &:hover {
         transform: scale(1.1);

         .gallery__img-text {
            opacity: 1;
         }
      }
   }

   .gallery__img-text {
      color: #000;
      font-weight: 600;
      padding: 15px;
      background-color: rgba(253, 202, 15, .8);
      opacity: 0;
      font-size: 17px;
      transition: all .5s;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
   }
}


/* ---------------------------------------- Reviews*/

.reviews {
   padding-top: 65px;
   text-align: center;
   background-image: url(../images/reviews-bg.jpg);
   @include image;

   &__slider {
      max-width: 1110px;
      margin: 0 auto;
      margin-bottom: 40px;

      .slick-track {
         padding-top: 50px;
      }

      .slick-list {
         padding: 0 30px !important;
      }

      .slick-center {

         .slider-item__top {
            background-color: $yellow-bg;
            color: #fff;
            transform: scale(1.2);
            margin-bottom: 60px;
            z-index: 100;

            &:after {
               border-top: 16px solid $yellow-bg;
            }
         }

      }

   }
}

.slider-item {
   padding: 0 30px;
   height: 511px;

   &__top {
      padding: 40px 30px;
      background-color: $grey-bg;
      border-radius: 30px;
      transition: all 1s;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 1.3;
      color: $text-dark;
      position: relative;
      width: 290px;

      &:before {
         content: '"';
         font-size: 70px;
         position: absolute;
         top: 10px;
         left: 20px;
      }

      &:after {
         content: '';
         width: 0;
         height: 0;
         border-top: 16px solid $grey-bg;
         border-right: 10px solid transparent;
         border-left: 10px solid transparent;
         position: absolute;
         bottom: -15px;
         left: 50%;
         transform: translateX(-50%);
      }

   }

   &__photo {
      @include image;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 20px;
      transition: all 1s;
   }

   &__name {
      font-weight: 700;
      text-transform: uppercase;
      color: $text;
   }
}

.contacts {
   border-bottom: 35px solid rgba(101, 105, 114, .6);

   &__inner {
      background-color: rgba(255, 203, 15, .5);
      padding: 35px 0 40px 0;
   }

   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__text {
      max-width: 550px;
      width: 100%;
   }

   &__title {
      font-size: 30px;
   }

   &__subtitle {
      font-size: 38px;
      font-weight: 100;
      color: #2f3240;
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
   }

   &__form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 520px;
   }

   &__textarea,
   &__input {
      height: 45px;
      max-width: 250px;
      width: 100%;
      border-radius: 10px;
      border: none;
      padding: 0 20px;
      margin-bottom: 10px;
      resize: none;
      display: block;
      background-color: rgba(255, 255, 255, .6);
      outline: transparent;

      &+input {
         margin-left: 20px;
      }

      &::placeholder {
         color: $input;
      }
   }

   &__textarea {
      padding-top: 10px;
      max-width: 350px;

      textarea {
         height: 100%;
         width: 100%;

      }
   }

   &__btn {
      height: 45px;
      padding: 0 5px;
      background-color: $btn-bg;

      &:hover {
         border-color: transparent;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
   }

}

/* ---------------------------------------- Footer*/

.footer {
   background-image: url(../images/footer-bg.jpg);
   @include image;

   &__inner {
      display: flex;
      justify-content: space-between;
      color: #fff;
   }
}

.footer-item {
   padding: 73px 0;
   max-width: 300px;

   &__title {
      font-size: 25px;
      font-weight: 200;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 30px;
   }

   &__logo {
      margin-bottom: 17px;
   }

   &__text {
      font-size: 14px;
      line-height: 1.3;
      margin-bottom: 25px;
   }

   .social__line {
      &+li {
         margin-left: 10px;
      }
   }

   .social__icon {
      width: 45px;
      height: 45px;
      color: $icon;
      background-color: $yellow-bg;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;

      &:hover {
         transform: scale(1.2);
      }
   }

   &__line {
      &+li {
         margin-top: 15px;
      }

      &::before {
         content: "\f054";
         font-family: 'icomoon';
         font-size: 12px;
      }

      &:hover {
         color: $yellow-bg;

         a {
            color: $yellow-bg;
         }
      }
   }

   &__link {
      color: #fff;
      margin-left: 10px;

   }

   &__post {
      display: flex;
      align-items: center;

      &+div {
         margin-top: 20px;
      }
   }

   &__date {
      min-width: 50px;
      height: 50px;
      border: 2px solid #fff;
      border-radius: 50%;
      display: block;
      margin-right: 10px;
      text-align: center;
      font-size: 20px;
      padding-top: 3px;

      span {
         display: block;
         font-size: 12px;
      }
   }

   &__phone,
   &__mail,
   &__adress {
      display: flex;
      color: #fff;
      align-items: center;
      margin-bottom: 20px;
      line-height: 1.6;

   }

   &__icon {
      font-size: 25px;
      margin-right: 18px;
      display: block;
   }

   .icon-envelope {
      font-size: 18px;
   }

}

.footer__contacts-menu {
   display: none;
}

@import "media";